*,
::before,
::after 
{
    box-sizing: border-box;
    font-size: 16px;
}

:root 
{
    --gap-size: 1.5rem;
}

@media screen and (max-width: 768px) 
{
    body
    {
        padding-bottom: 140px;
    }
}

body 
{
    margin: unset;
    background-color: #ece4e5ae;
    font-family: Georgia, serif;
}

.stack > * + * 
{
    margin-block-start: 1.5em;
}

#training-date, #training-time 
{
    border: 1px solid #ccc;
    padding: 8px;
    color: #333;
    text-align: center;
    min-width: 10em;
}

.in-label
{
    font-size: 1.2em;
}
